/GestionCourseMVVM.Android/obj/
/GestionCourseMVVM.Android/bin/
/GestionCourseMVVM.UWP/bin/
/GestionCourseMVVM.UWP/obj/
/GestionCourseMVVM/obj/
/GestionCourseMVVM/bin/
/.vs
/GestionCourseMVVM.Android/GestionCourse.Android.csproj
/GestionCourseMVVM.UWP/GestionCourse.UWP.csproj
/GestionCourseMVVM/GestionCourse.csproj
/GestionCourseMVVM/GestionCourseMVVM.csproj
/GestionCourseMVVM.Android/GestionCourseMVVM.Android.csproj
